---
import Layout from '@layouts/Layout.astro';
import createMember from '@utils/db/createMember';

import InputField from '@components/Forms/InputField.astro';
import SelectField from '@components/Forms/SelectField.astro';

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();

    const params = {
      name: data.get('name'),
      email: data.get('email'),
      phone: data.get('phone'),
      address1: data.get('address1'),
      address2: data.get('address2'),
      city: data.get('city'),
      state: data.get('state'),
      zip: data.get('zip'),
      memberSize: data.get('memberSize'),
      lengthInYrs: data.get('lengthInYrs'),
      startDate: new Date(),
    };

    await createMember(params);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Add Member">
  <div class="card">
    <form method="POST" class="card-body">
      <div class="row">
        <InputField
          label="First Name"
          isRequired
          type="text"
          name="firstName"
          id="first-name-field"
        />
        <InputField
          label="Last Name"
          isRequired
          type="text"
          name="lastName"
          id="last-name-field"
        />
      </div>
      <div class="row">
        <InputField
          label="Email"
          isRequired
          type="email"
          name="email"
          id="email-field"
        />
        <InputField label="Phone" type="text" name="phone" id="phone-field" />
      </div>
      <hr />
      <div class="row">
        <InputField
          label="Address One"
          type="text"
          name="address1"
          id="address-one-field"
        />
        <InputField
          label="Address Two"
          type="text"
          name="address2"
          id="address-two-field"
        />
      </div>
      <div class="row">
        <InputField label="City" type="text" name="city" id="city-field" />
        <SelectField
          label="State"
          name="state"
          id="state-select"
          options={['RI', 'MA', 'CT']}
        />
        <InputField label="ZIP" type="text" name="zip" id="zip-field" />
      </div>
      <hr />
      <div class="row">
        <SelectField
          label="Number of Members"
          name="memberSize"
          id="member-size-select"
          options={[4, 5, 6, 7, 8, 9, 10]}
        />

        <SelectField
          label="Length (Years)"
          name="lengthInYrs"
          id="membership-length-select"
          options={[1, 2, 3, 4]}
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</Layout>
