---
import { ViewTransitions } from 'astro:transitions';

type NavItem = {
  label: string;
  href: string;
};

export interface Props {
  title: string;
}

const { title } = Astro.props;

const currentPath = Astro.url.pathname;

const navItems: NavItem[] = [
  {
    label: 'Member List',
    href: '/',
  },
  {
    label: 'Add Member',
    href: '/add-member',
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="container mx-auto w-fit">
      <nav class="mx-auto flex w-fit flex-row gap-4 pt-4">
        {
          navItems.map(({ label, href }) => (
            <a
              class={`border-b-2 uppercase hover:border-sky-300 ${href === currentPath ? 'border-sky-400' : 'border-slate-400'}`}
              href={href}
            >
              {label}
            </a>
          ))
        }
      </nav>
      <div class="p-8">
        <slot />
      </div>
    </div>
  </body>
</html>
